<div [ngBusy]="{busy: maestroService.busy, message: 'Cargando parkings...', backdrop: true}"></div>
<div class="section-tabla fondo">
	<br>

	<div class="container todo">
		<div class="cabecera">
			<h3>Administración de Parkings</h3>
		</div>
		<br>
		<div class="col-sm-12">
			<span class="info">Adelante, configura las parkings, puedes crearlos seleccionando el botón
				Agregar</span>

			<p-dataTable [immutable]="false" columnResizeMode="expand" [resizableColumns]="true"
				[reorderableColumns]="true"
				[style]="{'overflow-x':'auto !important','max-width':'100% !important','padding':'10px'}" #dt
				[value]="parkings" [rows]="10" [responsive]="true" [paginator]="true" selectionMode="single"
				[(selection)]="selectedParking" (onRowSelect)="onRowSelect($event)">
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
					'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center','width':'8%'}"
					field="" header="Número" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por número">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">{{i+1}}</ng-template>
				</p-column>
				<p-column [style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
					'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}" field="name"
					header="Nombre" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por nombre">
				</p-column>
				<p-column [style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
					'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}" field="address"
					header="Dirección" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por dirección">
				</p-column> 
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px',
					'margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center'}"
					field="accesibility" header="Activo" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
						{{car.accesibility?'Si':'No'}}
					</ng-template>
				</p-column>

				<p-column [style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
				'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}" field="latitude"
					header="Latitud" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por latitud">
				</p-column>
				<p-column [style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
				'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}" field="longitude"
					header="Longitud" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por longitud">
				</p-column>
				<p-column [style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 
				'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center'}"
					field="places" header="Lugar" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por lugar">
				</p-column>

				<p-column [bodyStyle]="false"
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center'}"
					field="" header="Acción" [sortable]="true">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
						<div class="btn-group acciones">
							<button class="btn btn-default" (click)="editParking(car.id)"><span
									class="fa fa-pencil"></span></button>
							<button class="btn btn-danger" (click)="deleteParking(car.id)"><span
									class="fa fa-trash"></span></button>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="botones">

			<button mat-button class="btn btnprevious" [routerLink]="['/']">
				<i class="fa fa-chevron-left previous" aria-hidden="true"></i>
				Inicio</button>

			<button mat-button class="btn btn_add" [routerLink]="['/administration/new-parking']">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Agregar</button>
		</div>
	</div>
	<br>
</div>

<section class="section-tabla" *ngIf="this.cantidad==0">
</section>