<ng-container>
  <mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-address">
          <mat-form-field class="address">
            <input matInput placeholder="Dirección del parking" [value]="address" autocomplete="off" readonly />
          </mat-form-field>
          <button mat-button mat-dialog-close class="dialog-close">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <app-maps [point]="location" (locationMarker)="locationMarker($event)"></app-maps>
    </div>
  </mat-dialog-content>
 
</ng-container>