<div [ngBusy]="{busy: maestroService.busy, message: 'Cargando...', backdrop: true}"></div>

<app-menu></app-menu>
<br><br><br><br><br>
<div class="container">
  <mat-expansion-panel #filters [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="uk-text-subheading">
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="filterParking()">
      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput formControlName="identificador" placeholder="Identificador" />
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option [value]="null">Seleccione</mat-option>
            <mat-option *ngFor="let state of stateList" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-2">
          <button mat-flat-button id="inTripSubmit" type="submit" color="primary" [disabled]="form.invalid">
            Aplicar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="identificador">
      <th mat-header-cell *matHeaderCellDef> Identificador </th>
      <td mat-cell *matCellDef="let element"> {{element.identificador}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="coordenadas">
      <th mat-header-cell *matHeaderCellDef> Coordenadas </th>
      <td mat-cell *matCellDef="let element"> ({{element.latitud}}, {{element.longitud}}) </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon (click)="openDialogMap(element)" class="material-icons icon-action" matTooltip="Alquilar/liberar">loop</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="content-map">
    <app-maps [locations]="dataSource" [multiple]="true"></app-maps>
  </div>
</div>


<br>

<app-footer></app-footer>