 
  .content-btn{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .show-map{
    background: #517dad;
    color: white;
  }
   
  
  .header, .header-sp, .header-op,.header-tesoreria, .header-fac,.header-list-ap{
    background-color: #483D8B;
    color: white;
    /* margin-left: -24px; */
    /* margin-right: -24px; */
    height: 60px;
    /* margin-bottom: 12px; */
    /* margin-top: -24px; */
    /* position: fixed; */
    /* z-index: 3; */
    /* border: 2px solid red; */
    margin-top: -1px;
    padding-top: 5px !important;
  }
  
  .btn-generate {
    margin-top: 10px;
    background-color: rgb(50, 123, 137, 0.9);
    color: white;
  }
  
  .btn-generate:hover{
    background-color: rgb(50, 123, 137, 1);
  }
  
  .i-arrow{
    font-size: 25px;
    margin-top: -3px;
  }
  
  .save-icon{
    font-size: 19px;
    margin-top: 4px;
  }
  
  .content-reinverir, .check-reci{
    text-align: center;
    margin: 5px 0;
  }
  
  .content-daysContrato{
    padding: 0px 40px;
  }
  
  .btn-add{
    background-color: cadetblue;
    color: white;
    box-shadow: 3px 3px 3px silver;
    width: 160px;
    margin-left: 7px;
    /* border-radius: 50px; */
    margin-bottom: 20px;
  }
  
  .ui-button-warning{
    background: #9EBECD !important;
    border-color: #9EBECD !important;
  }
  
  .ui-button-warning:hover{
    background: #92B5C5 !important;
  }
  
  .content-reinverir button{
    font-weight: bold;
  }
  
  .btn-cancelar{
    background-color: rgb(95, 36, 16, 0.9);
    color: white;
    box-shadow: 3px 3px 3px silver;
    margin-left: 7px;
    margin-top: 12px;
    font-size: 15px;
  }
  
  .btn-cancelar:hover{
    background-color: rgb(95, 36, 16, 1);
  }
  
  .btn-saveTasa{
    background-color: rgb(56, 11, 97);
    color: white;
    box-shadow: 3px 3px 3px silver;
    margin-left: 7px;
    margin-top: 12px;
  }
  
  .btn-saveTasa{
    background-color: rgb(56, 11, 97, 1);
  }
  
  .header-op{
    height: 60px !important;
    font-size: 23px;
    width: 620px;
    margin-top: -8px;
  }
  
  .content-update {
    margin-top: 30px;
    text-align: center;
  }
  
  .content-update-comi {
    margin-top: 10px;
    text-align: center;
  }
  
  .pdf-par{
    background: #008B8B;
    margin-right: 5px;
    color: white;
  }
  
  .pdf-par i{
    font-size: 18px;
    font-weight: bold;
  }
  
  .content-update-par{
    text-align: center;
  }
  .content-update-par button{
    height: 37px;
  }
  
  .header{
    width: 500px;
    color: #444 !important;
  }
  
  .header-telf{
    background-color: #483D8B;
    color: white;
    height: 47px;
    margin-top: -8px;
  }
  
  .content-btn-telf{
    text-align: center !important;
    display: inherit !important;
  }
  
  .header-telf h2{
    padding-top: 10px;
    font-weight: bold;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 23px;
  }
  
  .content-telefono{
    margin-top: 14px !important;
    margin-left: -10px;
  }
  
  .content-aprob-fondo button{
    margin-top: 9px;
  }
  
  .btn-next-comisionista{
    background-color: rgb(95, 158, 160, 0.9);
    color: white;
    font-weight: bold;
  }
  
  .content-aprob-fondo mat-form-field{
    margin-right: 15px;
  }
  
  .contrato-tex .info{
    font-weight: bold;
  }
  
  .contrato-tex .data{
    font-weight: 100;
  }
  /* .header-tesoreria, .header-fac{
    width: 1100px;
  } */
  
  .contenido-aporte .info{
    font-weight: bold;
  }
  
  .tesoreria-text p{
    font-weight: 100;
    margin-right: 3px;
  }
  
  .content-aprob-fondo i{
    font-size: 23px;
  }
  
  .content-update i{
    font-size: 23px;
  }
  .content-update .desc-pdf, .content-update .desc-pdf1{
    height: 37px;
    font-weight: bold;
  }
  
  .desc-pdf1{
    margin-right: 4px;
    background: rgb(27, 36, 128) !important;
  }
  
  .btn-liquidate, .btn-aprob-fondo{
    background-color: rgb(43, 118, 164) !important;
    font-weight: bold;
    color: white;
  }
  .btn-liquidate:hover, .btn-aprob-fondo:hover{
    background-color: rgb(17, 83, 124) !important;
  }
  
  .background-red{
    color: #7A3715
  }
  
  .background-blue{
    color:#0A3B6A
  }
  
  .tesoreria-text .info{
    font-weight: bold;
  }
  
    /* ESTILOS PARA LA TABLA  */
   .mat-dialog-container{
    padding: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  
  .content-fact{
    padding: 0 52px;
  }
  .desc-pdf-cont{
    margin-left: 7px;
    height: 37px;
    background: #483D8B;
  }
  .content-btn{
    margin-top: 15px;
    text-align: center;
  }
  /* .content-update button {
    height: 35px;
  } */
  .content-comi{
    padding: 0 35px;
  }
  
  .mat-dialog-content{
      max-height: none;
      margin-top: -43px;
    }

    mat-dialog-content{
      padding-bottom: 15px !important;
    }
  
    .content-list-ap,.content-list-tesoreria{
      padding: 0 45px;
    }
   
  .header h2, .header-sp h2, .header-tesoreria h2, .header-fac h2, .header-op h2, .header-list-ap h2{
    padding-top: 10px;
    font-weight: bold;
    margin-top: 1px;
    padding-left: 10px;
    color: white;
    font-size:25px !important;
  }
  
  .header-list-ap{
    text-align: center;
  }
  
  .header-op h2{
    padding-top: 10px;
    font-weight: bold;
    margin-top: 8px;
    padding-left: 10px;
  }
  
  .img-options{
    height: 25px;
    margin-top: -8px;
    width: 25px;
  }
  
  .content-btn-rep{
    text-align: center;
  }
  .text-rep{
    color: rgb(100, 98, 98);
    margin-bottom: 15px;
  }
  
  .content-rep{
    padding: 0px 45px;
  }
  
  .btn-show{
    margin-top: 10px;
  }
  
  .contenido-fondo .data{
    font-weight: 200;
  }
  .icon-search{
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  
  .info{
    font-weight: bold;
  }
  
  .content-btn{
    text-align: center;
    width: 100%;
  }
  
  .btn-selection{
    margin-left: 7px;
  }
  
  .change{
    margin-top: 18px;
  }
  
  .btn-cancel{
      float: right;
      margin-top: -39px;
      font-size: 28px;
      margin-right: 10px;
      cursor: pointer;
      color: white;
  }
  
  
  .btn-delete,.btn-fact-comi,.btn-edit,.btn-fact-int,.btn-reprogramar{
    margin-left:8px;
    color: white;
    font-weight: bold;
  }
  
  .icon-rep{
    font-size: 25px;
  }
  
  .btn-delete{
    background: rgb(128,0,0,0.9);
  }
  
  .btn-reprogramar{
    background: rgb(88, 146, 182);
  }
  
  .btn-fact-comi{
    background: rgb(72,61,139,0.9);
  }
  
  .btn-fact-comi{
    background: rgb(72,61,139,1.0);
  }
  
  .btn-fact-int{
    background: rgb(22, 107, 144, 0.9);
  }
  
  .btn-fact-int{
    background: rgb(22, 107, 144,1.0);
  }
  
  .btn-aprobate{
    margin-left: 5px;
    background: rgb(22, 107, 144, 0.9);
    color: white;
  }
  
 
